@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div id="pic1"style="visibility:hidden"data-pic1="@ViewBag.g1"></div>
            <a href="/gamepage/gameprofile/@ViewBag.g1" > <img id="imgOne" src="" class="img-responsive" style="max-height:300px;min-height:300px;max-width:220px;min-width:220px"></a>
            <div class="text-center">
                <button type="button" class="label label-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" data-toggle="modal" data-target="#modal-comments" class="label label-warning"><span class="glyphicon glyphicon-comment"></span></button>
                <button type="button" class="label label-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div id="pic2" style="visibility:hidden" data-pic2="@ViewBag.g2"></div>
            <a href="/gamepage/gameprofile/@ViewBag.g2" > <img id="imgTwo" src="" class="img-responsive" style="max-height:300px;min-height:300px;max-width:220px;min-width:220px"></a>
            <div class="text-center">
                <button type="button" class="label label-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" data-toggle="modal" data-target="#modal-comments" class="label label-warning"><span class="glyphicon glyphicon-comment"></span></button>
                <button type="button" class="label label-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div id="pic3" style="visibility:hidden" data-pic3="@ViewBag.g3"></div>
            <a href="/gamepage/gameprofile/@ViewBag.g3" > <img id="imgThree" src="" class="img-responsive" style="max-height:300px;min-height:300px;max-width:220px;min-width:220px"></a>
            <div class="text-center">
                <button type="button" class="label label-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" data-toggle="modal" data-target="#modal-comments" class="label label-warning"><span class="glyphicon glyphicon-comment"></span></button>
                <button class="label label-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div id="pic4" style="visibility:hidden" data-pic4="@ViewBag.g4"></div>
            <a href="/gamepage/gameprofile/@ViewBag.g4" > <img id="imgFour" src="" class="img-responsive" style="max-height:300px;min-height:300px;max-width:220px;min-width:220px"></a>
            <div class="text-center">
                <button type="button" class="label label-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                <button id="" type="button" data-toggle="modal" data-target="#modal-comments" class="label label-warning"><span class="glyphicon glyphicon-comment"></span></button>
                <button type="button" class="label label-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>

        <hr>






        <!-- Modal Comments -->
        <div class="modal" id="modal-comments" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Comments</h4>
                    </div>
                    <div class="modal-body">
                        <div class="actionBox">
                            <ul class="commentList">
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://lorempixel.com/50/50/people/6" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment.</p>
                                        <span class="date sub-text">on March 5th, 2014</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://lorempixel.com/50/50/people/7" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">
                                            Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
                                        </p>
                                        <span class="date sub-text">on Dec 12th, 1984</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://lorempixel.com/50/50/people/9" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment.</p>
                                        <span class="date sub-text">on Sep 11th, 2006</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://lorempixel.com/50/50/people/3" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">hello world friends.</p>
                                        <span class="date sub-text">on May 31th, 2016</span>
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your comments" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<br />
<br />

<br />
<br />


<form id="formen" class="container" role="search" method="get" action="/GameSearch/Game"> 
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control"  name="search" placeholder="search">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</form>




<script src="~/scripts/jquery-2.2.3.min.js"></script>
<script src="~/scripts/search.js"></script>
<script src="~/scripts/FrontPagePics.js"></script>