
@{
    ViewBag.Title = "Index";
}

<h1>friends</h1>


<div id="username"></div>


<ul id="recentlyGame"><strong>Recently played games:</strong></ul>

<br />

<ul id="recentlyGame1"><strong>searchresults:</strong></ul>

<ul id="bilder">
   
</ul>

