@{
    ViewBag.Title = "GameProfile";
}


@{ string url = TempData["CurrentUrl"].ToString();

    string[] split = url.Split('/');
    var id = split.Last();
}

<div id="divId" style="display: none" data-myvalue="@id"></div>




<div class="container">
    <div class="row">


        <!--Img and Description-->
        <div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="list-group">
                <div class="list-group-item">
                    <h2 class="list-group-item-heading">
                        <strong id="gameName"></strong>
                        <span class="glyphicon glyphicon-check text-success pull-right"></span>
                        <span class=" pull-right">@ViewBag.gg</span>
                    </h2>
                </div>
                <img id="proPic" class="img-responsive" />
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        @if ((bool)Session["IsLoggedIn"] && (bool)Session["GameChecked"])
                        {<form method="post" action="@Url.Action("Index", "Check")">
                            <button name="checkBTN" id="checkButton" class="btn btn-success" type="submit">
                                <span class="glyphicon glyphicon-align-right glyphicon-check"></span>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Game Description</h3>
                </div>
                <div class="panel-body" id="gameDesc">

                </div>
            </div>
        </div>

        ​<div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Genres:</h3>
                </div>
                <div class="panel-body" id="gameGenre">

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Available on:</h3>
                </div>
                <div class="panel-body" id="gamePlatforms">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Release Date:</h3>
                </div>
                <div class="panel-body" id="gameRelease">
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-sm-4 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Similar games:</h3>
                </div>
                <div class="panel-body" id="gameAlike">
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/scripts/jquery-2.2.3.min.js"></script>
<script src="~/scripts/GameProfile.js"></script>