
@{
    ViewBag.Title = "GameProfile";
}


@{ string url = TempData["CurrentUrl"].ToString();

    string[] split = url.Split('/');
    var id = split.Last();
    }

<div id="divId" style="display: none" data-myvalue="@id"></div>



<div id="proJumbo" class="jumbotron">
   

    
</div>

<p id="gameName"></p>







    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/GameProfile.js"></script>
