
@{
    ViewBag.Title = "GameProfile";
}


@{ string url = TempData["CurrentUrl"].ToString();

    string[] split = url.Split('/');
    var id = split.Last();
    }

<div id="divId" style="display: none" data-myvalue="@id"></div>

<div class="container">
    <div class="row">
        <div id="proPic">



        </div>

        <h1 id="gameName"></h1>
        <h1>Description</h1>
        <p id="gameDesc"></p>

        <ul id="gameGenre">
            <h3>Genres:</h3>
        </ul>

        <ul id="gamePlatforms">
            <h3>Available on:</h3>
        </ul>

        <h1>Release date:</h1>
        <p id="gameRelease"></p>

        <div class="topRight">
            <h3>Similar games</h3>
            <ul id="gameAlike"></ul>
        </div>

    </div>
</div>





    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/GameProfile.js"></script>
