
@{
    ViewBag.Title = "Index";
}




    <table class="table table-striped table-hover ">
        <tbody id="searchResults">

        </tbody>
    </table>




<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/scripts/search.js"></script>

