
@{
    ViewBag.Title = "GameProfile";
}

<div class="jumbotron">
   
    <p id="gameProPic"></p>
    
</div>







<script src="~/scripts/jquery-2.2.3.min.js"></script>
<script src="~/scripts/GameProfile.js"></script>